<%- include('../../partials/header.ejs')%>

<body>
  <div class="page">
    <%- include('../../partials/navbarHome.ejs')%>
    <div class="container">

</body>
<%- include('../../partials/footer.ejs')%>