<%- include('../../partials/header.ejs')%>

<body>
  <%- include('../../partials/navbarAdmin.ejs')%>

  <div class="container">
    <div class="page">
      <div class="card">
        <div class="card-header">
          <h2>Bem vindo ao cadastro de categoria</h2>
          <hr>
        </div>
        <div class="card-body">
          <form action="/admin/category/create" method="post" onsubmit="confirmArticle(event)">
            <input class="form-control" type="text" name="title" placeholder="Definir categoria">
            <div class="buttons">
              <input class="btn btn-success mt-2" type="submit" value="Cadastrar">

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
<%- include('../../partials/footer.ejs')%>