<%- include('partials/header.ejs')%>

<body>
  <%- include('partials/navbarAdmin.ejs')%>
  <div class="container text-center">
    <h1>Olá bem vindo</h1>
  </div>

</body>
<%- include('partials/footer.ejs') %>