@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --cor-navbar:#000059;
    --cor-hover: rgb(255, 0, 0);
    --cor-primary: #191970;
    --cor-secondary: rgb(0, 0, 0);
    --cor-text: rgb(255, 255, 255);
    --cor-shadow: rgb(168, 2, 2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins';
}
/* Pagina */
button{
    border: none;
}
.page{
    height: 100vh;
}
.container{
    margin-top: 1vh;
}

.navbar{
    background-color: var(--cor-navbar);
    text-decoration: none;
}
.navbar-brand{
    margin-left: 0.8vw;
}

footer {
    display: flex;
    width: 100vw;
    height: 5vh;
    color: #ffff;
    background-color: var(--cor-primary);
    justify-content: center;
    align-items: center;
    margin-top: 100vh;
 }

 footer p{
    opacity: 0.5;
 }
/* Cards */

.card{
    margin-bottom: 1vh;
}
.card-header{
    padding: 1vw;
    text-align: center;
}

/* Inputs, Buttons  */
.title{
    margin-bottom: 1vh;
}

.summary{
    margin-bottom: 1vh;
}

.newBtn{
    display: flex;
    justify-content: start;
    position: relative;
    width: 100%;
    margin-bottom: 1vh;
}

.buttons{
    display: flex;
    justify-content: space-between;
    
}
.icons{
    height: 2vh;
    cursor: pointer;
}
.next{
    float: right;
}
.preview{
    float: left;
}

.next a,.preview a{
    background-color:#198754;
    text-decoration: none;
    color: #ffff;
    border-radius: 0.5rem;
    padding: 0.6rem;
    transition: ease 0.1s;

}
.next a:hover ,.preview a:hover {
    background-color: #146c43;
}
.next ,.preview {
    margin-top: 1vh;
}