@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --cor-navbar:#000059;
    --cor-hover: rgb(255, 0, 0);
    --cor-primary: #191970;
    --cor-secondary: rgb(0, 0, 0);
    --cor-text: rgb(255, 255, 255);
    --cor-shadow: rgb(168, 2, 2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins';
}

button{
    border: none;
}
.page{
    height: 100vh;
}
.container{
    margin-top: 1vh;
}

.newBtn{
    display: flex;
    justify-content: start;
    position: relative;
    width: 100%;
}
.navbar{
    background-color: var(--cor-navbar);
    text-decoration: none;
}
.navbar-brand{
    margin-left: 0.8vw;
}
.card{
    margin-bottom: 1vh;
}
.card-header{
    padding: 1vw;
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: space-between;
    
}
.icons{
    height: 2vh;
    cursor: pointer;
}
.title{
    margin-bottom: 1vh;
}

.newBtn{
    margin-bottom: 1vh;
}

