<%- include ("../../partials/header.ejs") %>
<%- include ("../../partials/navbarAdmin.ejs") %>


<div class="container">
  <div class="page">
    <hr>

    <div class="card mt-5">
      <div class="card-header">
        <h2>Edição de usuário</h2>
      </div>

      <div class="card-body">
        <form action="/admin/users/update" method="POST">
          <input class="fild form-control" name="email" type="email" placeholder="email@exemplo.com"  value="<%-user.email%>"><br>
          <input class="fild form-control" name="password" type="password" placeholder="******"><br>
          <label>Confirme sua senha</label>
          <input class="fild form-control" name="passwordConfirm" type="password" placeholder="******"><br>
          <button type="submit" class="btn btn-success w-100">Editar</button>
        </form>
      </div>
    </div>
  </div>
</div>


<%- include ("../../partials/footer.ejs") %>